body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%
}

#root, #container {
    height: 100%;
    background-color: #2B2E44;
    display: flex;
    flex-direction: column;
}

.profile-image {
    height: 175px;
    border-radius: 50%;
}

.Profile {
    margin-top: 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.profile-name {
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
}

.profile-name h2 {
    color: #E3E3E3;
}

.MenuBar, .ant-menu {
    background: none;
    color: #E3E3E3;
}

.MyFooter {
    height: 50px;
    flex-shrink: 0;
    background-color: #1d1c24;
}

.footer-inner {
    text-align: center;
}


.footer-icon {
    font-size: 25px;
    color: #1890ff;
}

.footer-item {
    display: flex;
    justify-content: center;
}

.footer-content {
    height: 100%;
}

.component {
    background-color: #212435;
    height: 100%;
    color: #E3E3E3;
}

.ant-layout-footer {
    padding: 0 0 0 0;
}

.logo {
    width: 100%;
    background-image: url("assets/profile_image.jpg");
    border-radius: 50%;
}

.component-title {
    background-color: #001529;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 0 0 25px 0;
}

.component-title > div {
    height: 100%;
}

.component-title h1 {
    margin-bottom: 0;
}

.icon-space {
    padding-right: 10px;
}

.ant-card-body {
    padding: 12px;
}

.ant-card-body p {
    margin-bottom: 0.5em;
}

.ant-card-bordered {
    border-color: #184d99;
}

.ant-card-head {
    background-color: #20202b;
    color: #E3E3E3;
}

.ant-card-body {
    background-color: #30303d;
    color: #E3E3E3;
}

.ant-timeline-item-tail {
    border-left: #184d99 2px solid;
}

.ant-timeline-item-head {
    background-color: #1890ff;
}

.ant-table-thead > tr > th {
    color: rgba(0, 0, 0, 0.85);
    font-weight: 500;
    text-align: left;
    background: #20202b;
    color: #E3E3E3;
    border-bottom: 1px solid #1890ff;
    -webkit-transition: background 0.3s ease;
    -o-transition: background 0.3s ease;
    transition: background 0.3s ease;
}

.ant-table-body {
    background: #30303d;
    color: #E3E3E3 /*
    bodyStyle={{color: "white", backgroundColor: "#30303d"}}
     */
}

.ant-btn:focus, .ant-btn.focus {
    background-color: red !important;
}

.ant-table:focus {
    background: none;
}

.ant-pagination-next .ant-pagination-item-link, .ant-pagination-prev .ant-pagination-item-link {
    background: #30303d;
}

.ant-pagination-item {
    background: #30303d;
    border-color: #E3E3E3;
}

.ant-pagination-item-active {
    background: #1890ff;
}

tr:hover {
    background: none;
}

td:hover {
    background: none;
}

.tr:hover {
    background: none;
}

.td:hover {
    background: none;
}
