body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%
}

#root, #container {
    height: 100%;
    background-color: #2B2E44;
    display: flex;
    flex-direction: column;
}

.profile-image {
    height: 175px;
    border-radius: 50%;
}

.Profile {
    margin-top: 13px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

.profile-name {
    justify-content: center;
    display: flex;
    text-align: center;
    color: white;
}

.profile-name h2 {
    color: #E3E3E3;
}

.MenuBar, .ant-menu {
    background: none;
    color: #E3E3E3;
}

.MyFooter {
    height: 50px;
    flex-shrink: 0;
    background-color: #1d1c24;
}

.footer-inner {
    text-align: center;
}


.footer-icon {
    font-size: 25px;
    color: #1890ff;
}
.footer-item {
    display: flex;
    justify-content: center;
}

.footer-content {
 height: 100%;
}

.component {
    background-color: #212435;
    height: 100%;
    color: #E3E3E3;
}

.ant-layout-footer {
    padding: 0 0 0 0;
}

.logo {
    width: 100%;
    background-image: url("assets/profile_image.jpg");
    border-radius: 50%;
}

.component-title {
    background-color: #001529;
    height: 50px;
    text-align: center;
    font-size: 24px;
    margin: 0 0 25px 0;
}
.component-title > div {
    height: 100%;
}

.component-title h1 {
    margin-bottom: 0;
}
